{% extends "base.html" %}


{% block maincontent %}
<div class="row justify-content-center mt-3">
  <div class="col-md-8 col-sm-12 bg-light p-4">
    <h1>People who follow @{{ profile.user.username }}:</h1>
    {% for person in followers %}
      <h4 class="mt-3"><a style="text-decoration:none; color:black;" href="{% url "profile_view" pk=person.profile.pk %}"><img src="{{ person.profile.profile_pic.url }}"  style="border-radius:100%;"  class="mr-2" height="40" width="40" alt="Image Unabale to load">{{ person }}</a></h4>
    {% endfor %}
    <a class="btn btn-outline-dark mt-4" href="{% url 'profile_view' pk=profile.pk %}">Back To User Profile</a>

  </div>
</div>
{% endblock %}
