{% extends "base.html" %}
{% load bootstrap4 %}


{% block LeftContent %}

{% endblock %}


{% block maincontent %}

<div class="row justify-content-center mt-3 mb-2">
    <div class="col-md-8 col-sm-12 border-bottom">
      <form class="container" method="post"  enctype="multipart/form-data">
        <h4>Whats on your Mind?</h4>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-grid gap-2">
          <input type="Submit" style="width:100%;" class="btn btn-primary mb-3" value="Share">
        </div>
      </form>
    </div>
</div>

{% if post_list %}

{% for post in post_list %}
{% if user in post.author.profile.followers.all or user == post.author %}
  {% if post.shared_user %}
  <div class="row justify-content-center mt-3">
    <div class="col-md-8 col-sm-12 border p-4 bg-light rounded-corners">

      <h4><i data-feather="repeat"></i>{{ post.shared_user}} Re-posted</h4>

      <img class="float-left mr-2" src="{{ post.shared_user.profile.profile_pic.url }}" style="border-radius:100%;" height="70" width="70" alt="Image Not loaded">

      <h2><a style="color:black; text-decoration:none" href="{% url "profile_view" pk=post.shared_user.profile.pk %}"><strong>{{ post.shared_user }}</strong></a> <span class="text-muted" style="font-size:15px;">{{ post.created_on|timesince }} ago</span> </h2>
        <a style="color:black; text-decoration:none" href="{% url "post_detail" pk=post.pk %}">
      
          <div class="body">
            <p style="font-size: 1.0rem;">{{ post.shared_body }}</p>
          </div>

      <h4>

        <div class="border p-4 m-2 rounded-corners">
          <img class="float-left mr-2" src="{{ post.author.profile.profile_pic.url }}" style="border-radius:100%;" height="70" width="70" alt="Image Not loaded">

          <h2><a style="color:black; text-decoration:none" href="{% url "profile_view" pk=post.author.profile.pk %}"><strong>{{ post.author }}</strong></a> <span class="text-muted" style="font-size:15px;">{{ post.og_post_date|timesince }} ago</span> </h2>
            <a style="color:black; text-decoration:none" href="{% url "post_detail" pk=post.pk %}">
          

              <div class="body">
                <p style="font-size: 1.0rem;">{{ post.body }}</p>
              </div>
          
          {% if post.image %}
            <img class="float-left mr-2  mr-2 mt-1 mb-2" src="{{ post.image.url }}" style="border-radius:10px;" width="100%" alt="Image Not loaded">
          {% endif %}
          
          <h4>
        </div>

      <a style="color:black; text-decoration:none" href="{% url "people-liked" pk=post.pk %}"><span class="float-left">{{ post.likes.count }}</span></a>

        <form action="{% url "Add-Like" pk=post.pk %}" method="post">
          <input type="hidden" name="next" value="{{ request.path }}">
          {% csrf_token %}
          <button style="background-color:transparent; border:none;" class="float-left mr-2" type="submit" name="button">
            {% if user not in post.likes.all %}
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            {% endif %}
          </button>
        </form>

        {{ post.comments.count }}
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
        </svg>

        {% if post.shared_user and post.shared_user == request.user %}
        <a href="{% url 'share_post_delete' post.pk %}"><i data-feather="repeat" style="color:aquamarine;"></i></a>
        {% else %}
        <i data-feather="repeat" onclick="rePostToggle('.re-post{{ post.pk }}')"></i>
        {% endif %}

        <div class="re-post{{ post.pk }} d-none">
          <form method="POST" action="{% url 'share_post' post.pk %}">
            {% csrf_token %}
            {{ shareform }}
            <input type="submit" class="btn btn-primary">
          </form>
        </div>

      </h4>
      </a>
    </div>
</div>
  {% else %}
  <div class="row justify-content-center mt-3">
    <div class="col-md-8 col-sm-12 border p-4 bg-light rounded-corners">

      <img class="float-left mr-2" src="{{ post.author.profile.profile_pic.url }}" style="border-radius:100%;" height="70" width="70" alt="Image Not loaded">

      <h2><a style="color:black; text-decoration:none" href="{% url "profile_view" pk=post.author.profile.pk %}"><strong>{{ post.author }}</strong></a> <span class="text-muted" style="font-size:15px;">{{ post.created_on|timesince }} ago</span> </h2>
        <a style="color:black; text-decoration:none" href="{% url "post_detail" pk=post.pk %}">
      

          <div class="body">
            <p style="font-size: 1.0rem;">{{ post.body }}</p>
          </div>
      
      {% if post.image %}
      <img class="float-left mr-2  mr-2 mt-1 mb-2" src="{{ post.image.url }}" style="border-radius:10px;" width="100%" alt="Image Not loaded">
      {% endif %}
      
      <h4>

<a style="color:black; text-decoration:none" href="{% url "people-liked" pk=post.pk %}"><span class="float-left">{{ post.likes.count }}</span></a>

        <form action="{% url "Add-Like" pk=post.pk %}" method="post">
          <input type="hidden" name="next" value="{{ request.path }}">
          {% csrf_token %}
          <button style="background-color:transparent; border:none;" class="float-left mr-2" type="submit" name="button">
            {% if user not in post.likes.all %}
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            {% endif %}
          </button>
        </form>

        {{ post.comments.count }}
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
        </svg>

        {% if post.shared_user %}
        <i data-feather="repeat" style="color:aquamarine;"></i>
        {% else %}
        <i data-feather="repeat" onclick="rePostToggle('.re-post{{ post.pk }}')"></i>
        {% endif %}

        <div class="re-post{{ post.pk }} d-none">
          <form method="POST" action="{% url 'share_post' post.pk %}">
            {% csrf_token %}
            {{ shareform }}
            <input type="submit" class="btn btn-primary">
          </form>
        </div>

      </h4>
      </a>
    </div>
</div>
  {% endif %}
{% endif %}
{% endfor %}

{% else %}
<div class="row justify-content-center mt-3">
  <div class="col-md-8 col-sm-12">
    <h1>Follow People to view their posts!</h1>
  </div>
</div>

{% endif %}


{% endblock %}

{% block RightContent  %}
  <div class="d-grid gap-2 m-2 p-1 bg-light p-2">
    <h4>Find People To Follow:</h4>
    {% for ppl in follow %}
      <p><img src="{{ ppl.profile_pic.url }}"  style="border-radius:100%;" height="40" width="40" alt=""> <a href="{% url "profile_view" pk=ppl.pk  %}">@{{ ppl.user.username }}</a></p>
    {% endfor %}
  </div>


  {% for item in trending  %}
    <p>item.body</p>
  {% endfor %}

{% endblock %}
