{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block LeftContent %}
<div class="d-grid gap-2 m-2 p-1">
  <a style="width:100%;" href="{% url "post_list" %}" class="btn btn-light mb-3">Back to All Posts</a>
</div>

{% endblock %}

{% block maincontent %}


<div class="row justify-content-center mt-3">
  
    <div class="col-md-8 col-sm-12 bg-light p-4">
           <img class="float-left mr-2" src="{{ post.author.profile.profile_pic.url }}" style="border-radius:100%;" height="100" width="100" alt="Image Not loaded">
      <h1><a style="color:black; text-decoration:none" href="{% url "profile_view" pk=post.author.profile.pk %}"><strong>@{{ post.author }}</strong></a> <span class="text-muted" style="font-size:20px;">{{ post.created_on|date:'d M Y' }}</span>
    {% if user == post.author %}
    <a class="btn btn-dark "style="float:right;"  href="{% url "post_delete" pk=post.pk %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg>
    </a>
    <a class="btn btn-dark mr-2"  style="float:right;" href="{% url "post_edit" pk=post.pk %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </svg>
    </a>
    {% endif %}
        </h1>
      <p class="mt-4" style="font-size: 1.2rem;">{{ post.body }}</p>

      {% if post.image %}
      <img class="float-left mr-2 mt-2 mb-2" src="{{ post.image.url }}" style="border-radius:10px;" height="200" width="100%" alt="Image Not loaded">
      {% endif %}


      <div>
        <h4>
          <a style="color:black; text-decoration:none" href="{% url "people-liked" pk=post.pk %}"><span class="float-left">{{ post.likes.count }}</span></a>
          <form action="{% url "Add-Like" pk=post.pk %}" method="post">
                    <input type="hidden" name="next" value="{{ request.path }}">
            {% csrf_token %}
            <button style="background-color:transparent; border:none;" class="float-left mr-2" type="submit" name="button">
              {% if user not in post.likes.all %}
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
              {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
              {% endif %}
            </button>
          </form>

          {{ post.comments.count }}

          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
          </svg>
        </h4>
      </div>

    </div>
</div>


<div class="row justify-content-center mt-3">
  <div class="col-md-8 col-sm-12">
    <h3>Comments: ({{ post.comments.count }})</h3>
  </div>
</div>

<div class="row justify-content-center mt-3">

{% for comment in post.comments.all %}
  {% if comment.is_main_comment %}
    
  <div class="col-md-8 col-sm-12 p-4 border-bottom">

      <img class="float-left mr-2" src="{{ comment.author.profile.profile_pic.url }}" style="border-radius:100%;" height="50" width="50" alt="Image Not loaded">


      <h4 class="float-left"><a style="text-decoration:none; color:black;" href="{% url "profile_view" comment.author.profile.pk  %}">@<strong>{{ comment.author }}</strong></a> <span class="text-muted" style="font-size:15px;">{{ comment.created_on|date:'d M Y' }}</span>
        {% if user == comment.author or user == post.author %}
        <a href="{% url "comment_delete" pk=comment.pk %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
        </a>
        {% endif %}
      
        <br>
            
        <span style="font-size:15px;">{{ comment.comment }}</span>    

        <br>

      <span style="font-size:18px;" class="mt-2 float-left">{{ comment.likes.all.count }}</span>  

        <form action="{% url 'comment-like' pk=post.pk id=comment.pk %}" method="post">
          <input type="hidden" name="next" value="{{ request.path }}">
          {% csrf_token %}
          <button style="background-color:transparent; border:none;" class="float-left " type="submit" name="button">
            {% if user not in comment.likes.all %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            {% endif %}
          </button>
      </form>
      
      <i data-feather="chevrons-right" onclick="commentReplyToggle('#replycomment{{ comment.pk }}')"></i>
          <div id="replycomment{{ comment.pk }}" class="d-none">
            <form action="{% url 'comment-reply' pk=post.pk id=comment.id %}" method="post"> 
              <h4>Reply to comment:</h4>
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="d-grid gap-2">
                <input type="Submit" style="width:100%;" class="btn btn-primary mb-3" value="Add Reply">
              </div>
            </form>
          </div>
    </h4>
  </div>
    {% for child_comment in comment.child  %}
    <div class="col-md-6 col-sm-10 ml-5 p-4 border-bottom">
      <img class="float-left mr-2" src="{{ child_comment.author.profile.profile_pic.url }}" style="border-radius:100%;" height="50" width="50" alt="Image Not loaded">


      <h4 class="float-left"><a style="text-decoration:none; color:black;" href="{% url "profile_view" child_comment.author.profile.pk  %}">@<strong>{{ child_comment.author }}</strong></a> <span class="text-muted" style="font-size:15px;">{{ comment.created_on|date:'d M Y' }}</span>
        {% if  user == post.author %}
        <a href="{% url "comment_delete" pk=comment.pk %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>
        </a>
        {% endif %}
        <br>
            
        <span style="font-size:15px;">{{ child_comment.comment }}</span>    

        <br>

        </h4>

 </div>
    {% endfor %}
  {% endif %}
{% empty %}
    <p>No comments yet!</p>

    {% endfor %}
</div>

<div class="row justify-content-around mt-3 mb-2">
    <div class="col-md-8 col-sm-12">
      <form class="container" method="post"> 
        <h4>Add a comment:</h4>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-grid gap-2">
          <input type="Submit" style="width:100%;" class="btn btn-primary mb-3" value="Add comment to post">
        </div>
      </form>
    </div>
</div>


<script type="text/javascript" src="{% static 'js/social.js' %}"></script>
{% endblock %}

{% block RightContent %}

{% endblock %}
