{%extends "base.html" %}


{% block LeftContent %}
<div class="d-grid gap-2 m-2 p-1">
  <a style="width:100%;" href="{% url "list-group" %}" class="btn btn-light mb-3">Back to All Groups</a>
</div>

{% endblock %}


{% block maincontent %}
<div class="row justify-content-center mt-3">
  <div class="col-md-8 col-sm-12 p-4">
    <h1>Search Results:</h1>
    {% for item in groups %}
    <div class="card mb-3 col-md-12">
        <div class="row no-gutters">
          <div class="col-md-4">
           <a href="{% url 'detail-group' item.slug %}"><img src="{{ item.cover.url }}" height="100%" width="100%" alt="..."></a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="{% url 'detail-group' item.slug %}"> <h5 class="card-title">{{ item.name }}</h5></a>
              <p class="card-text">{{ item.description }}</p>
              <p class="card-text"><small class="text-muted">Since: {{ item.created_on|timesince }}</small></p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
